# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  name: self-hosted-agent

steps:
- script: python -m pip install --upgrade pip
  displayName: 'Installing pip'

- script: |
    pip install -r requirements.txt
  displayName: 'Installing Requirements'
  condition: succeededOrFailed()

- script: pytest --junitxml="./reports/e2e-result.xml"
  displayName: 'Publishing Result'
  condition: succeededOrFailed()
  
- task: PublishTestResults@2
  displayName: 'Publish test results'
  inputs:
    searchFolder: 'test-results'
    testResultsFormat: 'JUnit'
    testResultsFiles: '**/reports/e2e-result.xml'
    mergeTestResults: true
    testRunTitle: 'Playwright Test Result'
  condition: succeededOrFailed()