# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  name: self-hosted-agent

steps:
- script: python -m pip install --upgrade pip
  displayName: 'Installing pip'

- script: |
    pytest tests/ -v -s
  displayName: 'Run a multi-line script'
